@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/**
 * FT Labs theme for reveal.js.
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff1e0;
  background: -moz-radial-gradient(center, circle cover, white 0%, #fff1e0 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #fff1e0));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #fff1e0 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #fff1e0 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #fff1e0 100%);
  background: radial-gradient(center, circle cover, white 0%, #fff1e0 100%);
  background-color: #fff1e0; }

.reveal {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #331c54; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #331c54;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 0.9em;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #00a9e0;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #47d2ff;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #006f94; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #331c54;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00a9e0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #00a9e0; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #00a9e0; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #00a9e0; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #00a9e0; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #47d2ff; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #47d2ff; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #47d2ff; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #47d2ff; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #00a9e0;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.pointer {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 5px black;
  padding: 0;
  z-index: 5;
  opacity: 0;
  pointer-events: none; }

.reveal .slides section.dark-background h1, .reveal .slides section.dark-background h2, .reveal .slides section.dark-background h3, .reveal .slides section.dark-background h4, .reveal .slides section.dark-background p, .reveal .slides section.dark-background div, .reveal .slides section.dark-background blockquote, .reveal .slides section.dark-background li {
  color: #fff1e0; }
.reveal .slides section.dark-background a {
  color: #FECB00; }
.reveal .slides section.logo-title {
  text-align: left;
  background: url(ftlabs_images/labs-logo.svg) 0 15px no-repeat;
  background-size: 15%;
  padding-top: 0; }
  .reveal .slides section.logo-title > * {
    padding-left: 22%; }
  .reveal .slides section.logo-title h1 {
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); }
  .reveal .slides section.logo-title h3 {
    margin-bottom: 60px; }
.reveal .slides section.big-quote h1 {
  text-align: left;
  width: 85%;
  margin: 1em auto; }
.reveal .slides section.big-quote span.bghead {
  width: auto;
  white-space: nowrap;
  opacity: 0.2;
  font-size: 8em;
  color: white;
  position: absolute;
  top: 60px;
  left: -100px; }
.reveal .slides section.big-quote blockquote {
  background: none;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.1em;
  width: 85%;
  text-align: left;
  box-shadow: none; }
  .reveal .slides section.big-quote blockquote strong {
    color: #FF0;
    text-shadow: 2px 2px 7px #000; }
.reveal .slides .row {
  display: table;
  text-align: left;
  margin: 1em auto; }
  .reveal .slides .row > * {
    display: table-cell;
    padding: 0 20px;
    position: relative;
    vertical-align: middle; }
.reveal .slides .row.storage-family > div {
  width: 20%;
  vertical-align: bottom; }
.reveal .slides .row.storage-family img {
  box-shadow: none;
  width: 100%; }
.reveal .slides .row.fastclick-demo {
  width: 100%;
  text-align: center; }
  .reveal .slides .row.fastclick-demo .stack {
    width: 50%; }
    .reveal .slides .row.fastclick-demo .stack > .block {
      height: 3em;
      width: 100%; }
    .reveal .slides .row.fastclick-demo .stack > .block:nth-child(1) {
      background-color: #DD4814; }
    .reveal .slides .row.fastclick-demo .stack > .block:nth-child(2) {
      background-color: #8F3F6D; }
    .reveal .slides .row.fastclick-demo .stack > .block:nth-child(3) {
      background-color: #00A9E0; }
    .reveal .slides .row.fastclick-demo .stack > .block:nth-child(4) {
      background-color: #69BE28; }
    .reveal .slides .row.fastclick-demo .stack > .block:nth-child(5) {
      background-color: #DD4814; }
    .reveal .slides .row.fastclick-demo .stack > .block.selected {
      background-color: #FECB00; }
.reveal .slides .two-col {
  -webkit-column-count: 2;
  column-count: 2;
  width: 100%;
  list-style-position: inside;
  font-size: 120%;
  line-height: 120%;
  margin: 1em 0 1em 30px; }
.reveal .slides .stat {
  font-size: 6em;
  line-height: normal; }
.reveal .slides .no-wrap {
  white-space: nowrap; }
.reveal .slides .cite {
  font-size: 0.6em;
  text-align: right; }
.reveal .slides h1, .reveal .slides h2, .reveal .slides h3, .reveal .slides h4, .reveal .slides h5, .reveal .slides h6 {
  line-height: 1.2em; }
.reveal .slides h1 {
  font-size: 2em;
  font-weight: bold; }
.reveal .slides h3 {
  font-size: 1.25em; }
.reveal .slides section img {
  border: none; }
.reveal .slides del {
  color: red; }
.reveal .slides li {
  margin-bottom: 5px; }
.reveal .slides ul, .reveal .slides p {
  margin-bottom: 15px; }
.reveal .slides i {
  font-family: FontAwesome;
  font-style: normal; }
.reveal .slides table {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  width: 100%;
  margin: 1em auto; }
  .reveal .slides table th {
    background-color: white;
    font-weight: bold; }
  .reveal .slides table th, .reveal .slides table td {
    padding: 15px 15px;
    border-bottom: 5px solid #D3CBC1; }
.reveal .slides table.centered-content td {
  text-align: center; }
