/**
 * FT Labs theme for reveal.js.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);


// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', 'Helvetica Neue', sans-serif;
$headingFont: 'Open Sans', 'Helvetica Neue', sans-serif;
$mainColor: #331C54;
$headingColor: #331C54;
$headingTextTransform: none;
$headingLetterSpacing: normal;
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;
$backgroundColor: #fff1e0;
$linkColor: #00A9E0;
$linkColorHover: lighten( $linkColor, 20% );

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( #fff1e0, white );
}




// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.pointer {
	position: absolute;
	width: 30px;
	height: 30px;
	overflow:hidden;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0 0 5px black;
	padding: 0;
	z-index:5;
	opacity:0;
	pointer-events: none;
}

.reveal .slides {
	section.dark-background {
		h1, h2, h3, h4, p, div, blockquote, li {
			color: $backgroundColor;
		}
		a {
			color: #FECB00;
		}
	}
	section.logo-title {
		text-align: left;
		background: url(/css/theme/ftlabs_images/labs-logo.svg) 0 15px no-repeat;
		background-size: 15%;
		padding-top: 0;
		> * {
			padding-left: 22%;
		}
		h1 {
			margin-bottom: 30px;
			text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
		}
		h3 {
			margin-bottom: 60px;
		}
	}
	section.big-quote {
		h1 {
			text-align:left;
			width:85%;
			margin: 1em auto;
		}
		span.bghead {
			width: auto;
			white-space: nowrap;
			opacity: 0.2;
			font-size: 8em;
			color: white;
			position: absolute;
			top: 60px;
			left: -100px;
		}
		blockquote {
			background: none;
			font-style: normal;
			font-size: 1.8em;
			line-height: 1.1em;
			width: 85%;
			text-align:left;
			box-shadow: none;
			strong {
				color: #FF0;
				text-shadow: 2px 2px 7px #000;
			}
		}
	}
	.row {
		display:table;
		text-align: left;
		margin: 1em auto;
		> * {
			display: table-cell;
			padding: 0 20px;
			position: relative;
			vertical-align: middle;
		}
	}
	.row.storage-family {
		> div {
			width: 20%;
			vertical-align: bottom;
		}
		img {
			box-shadow: none;
			width: 100%;
		}
	}
	.row.fastclick-demo {
		width:100%;
		text-align: center;
		.stack {
			width: 50%;
			> .block {
				height: 3em;
				width: 100%;
			}
			> .block:nth-child(1) {
				background-color: #DD4814;
			}
			> .block:nth-child(2) {
				background-color: #8F3F6D;
			}
			> .block:nth-child(3) {
				background-color: #00A9E0;
			}
			> .block:nth-child(4) {
				background-color: #69BE28;
			}
			> .block:nth-child(5) {
				background-color: #DD4814;
			}
			> .block.selected {
				background-color: #FECB00;
			}
		}
	}
	.two-col {
		-webkit-column-count: 2;
		column-count: 2;
		width: 100%;
		list-style-position: inside;
		font-size: 120%;
		line-height: 120%;
		margin: 1em 0 1em 30px;
	}
	.stat {
		font-size: 6em;
		line-height: normal;
	}
	.no-wrap {
		white-space: nowrap;
	}
	.cite {
		font-size: 0.6em;
		text-align: right;
	}
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2em;
	}
	h1 {
		font-size: 2em;
		font-weight:bold;
	}
	h3 {
		font-size: 1.25em;
	}
	section img {
		border: none;
	}
	del {
		color: red;
	}
	li {
		margin-bottom: 5px;
	}
	ul, p {
		margin-bottom: 15px;
	}
	i {
		font-family: FontAwesome;
		font-style: normal;
	}
	table {
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
		border-collapse: collapse;
		width: 100%;
		margin: 1em auto;
		th {
			background-color: white;
			font-weight: bold;
		}
		th, td {
			padding: 15px 15px;
			border-bottom: 5px solid #D3CBC1;
		}
	}
	table.centered-content {
		td {
			text-align: center;
		}
	}
}
