* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #404040;
}

.bd iframe {
    position: absolute;
    border: medium none;
    z-index: 2;
}

.hidden {
    display: none;
}

.loading {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 20px;
    height: 20px;
    z-index: 1;
    float: left;
    margin-left: 20px;
    background: url(http://img02.taobaocdn.com/tps/i2/T1OKdfFlliXXcj2pDa-20-20.gif) no-repeat;
}

.logo {
    float: left;
    width: 170px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-size:  20px !important;
    line-height: 40px !important;
    font-family: "lato","Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 1px;
}

.head {
    width: 100%;
    min-width:1000px;
    position: fixed;
    top: 0;
    z-index: 11;
    opacity: 0.9;
    z-index: 10;
    background-color: #181818;
    background-color: #6e6fb6;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.head-wrap {
    overflow: hidden;
    padding: 5px 0;
}

.inp-text {
    float: left;
    height: 38px;
    width: 70%;
    line-height: 38px;
    text-indent: 2px;
    margin: 0 5px 0 0;
    color: #333;
    font-size: 14px;
    border:0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.inp-check {
    margin-right: 2px;
}

.inp-btn {
    float: left;
    padding: 0 20px;
    height:38px;
    line-height: 38px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.32);
    color: #fff;
    font-size: 14px;
    border: 1px solid #ee8a0d;
    border-bottom-color: #d67b0b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);*/
    /*-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);*/
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);*/
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffa83c;
    cursor: pointer;
    text-decoration: none;
}

.inp-btn:hover {
    background-color: #ee8a0d;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index:5;
    width: 160px;
    height: 100%;
    padding-right: 10px;
    background: #6e6fb6;
    -webkit-box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.3);
}
.sidebar-close {
    left: -145px;
}

.side-nav {
    position: absolute;
    right: 0;
    top: 220px;
    background-color: #8485ce;
    color: #484984;
    height: 85px;
    width: 16px;
    line-height: 85px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: top .2s ease,padding .2s ease;
    -moz-transition: top .2s ease,padding .2s ease;
    -ms-transition:top .2s ease,padding .2s ease;
    -o-transition: top .2s ease,padding .2s ease;
    transition: top .2s ease,padding .2s ease;
    font-family: 'Lucida Grande';
}

.side-nav:hover {
    top: 215px;
    padding: 5px 0;
}

.sidebar-close .side-nav {
    background-color: #ffa83c;
    color: #fff;
}

.qrcode {
    width: 120px;
    margin: 50px auto 0;
}

.type-box {
    z-index: 10;
    padding: 20px 0 0;
    text-align: center;
}

.type {
    display: block;
    margin: 50px auto 0;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.type input {
    visibility: hidden;
}

.type-box .phone {
    background: url(https://i.alipayobjects.com/e/201307/fZBDK88Ct.png) no-repeat;
    width: 31px;
    height: 55px;
}

.type-box .pad {
    background: url(https://i.alipayobjects.com/e/201307/fZBDnKcT1.png) no-repeat;
    width: 56px;
    height: 72px;
}

.type-box .mac {
    background: url(https://i.alipayobjects.com/e/201307/fZBDKIeeV.png) no-repeat;
    width: 142px;
    height: 81px;
}

.type-box .type:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    background-color: #484984;
}

.type-box .select {
    background-color: #484984;
}

.bd {
    /*width:379px;*/
    margin: 60px 0 20px 50px;
}

.phone-box {
    width: 900px;
    height: 860px;
    margin: 0 auto;
    position: relative;
}

.phone-box .item {
    position: absolute;
}

/*.iphone4s-box{*/
/*width:379px;*/
/*height:863px;*/
/*margin: 0 auto;*/
/*position: relative;*/
/*-webkit-transform:scale(0.8);*/
/*-moz-transform:scale(0.8);*/
/*transform:scale(0.8);*/

/*}*/
/*.iphone4s-box .item{*/
/*position: absolute;*/
/*margin:0 30px;*/
/*-webkit-transform:scale(0.9);*/
/*-moz-transform:scale(0.9);*/
/*transform:scale(0.9);*/
/*}*/

.Android {
    /*-webkit-transform:scale(0.89);*/
    /*-moz-transform:scale(0.89);*/
    /*transform:scale(0.89);*/
    top: 5;
    right: 0px;
    height: 738px;
    width: 372px;
    z-index: 2;
    /*background: url(http://img02.taobaocdn.com/tps/i2/T1umVjFcdhXXabfLAA-399-794.jpg) no-repeat;*/
    background: url(http://img04.taobaocdn.com/tps/i4/T1ywVrFa8fXXbKPSLN-372-738.jpg) no-repeat;
}

.Android iframe {
    width: 320px;
    height: 570px;
    top: 68px;
    left: 26px;
}

.iphone4s {
    top: 0;
    height: 863px;
    width: 379px;
    z-index: 2;
    background: url(http://img04.taobaocdn.com/tps/i4/T1Hb4nFeVaXXcoTkf5-379-751.png) no-repeat;
}

.iphone4s iframe {
    height: 415px; /* bottom bar 45px */
    left: 31px;
    top: 153px;
    width: 320px;

}

/*.iphone4s-hor {*/
/*top: 270px;*/
/*left: 20px;*/
/*width: 751px;*/
/*height: 370px;*/
/*background: url(http://img01.taobaocdn.com/tps/i1/T1eHNnFa0aXXbofVMB-751-379.png) no-repeat;*/
/*-webkit-transform: rotate(20deg);*/
/*-moz-transform: rotate(20deg);*/
/*transform: rotate(20deg);*/
/*}*/

/*.iphone4s-hor iframe {*/
/*height: 320px;*/
/*left: 135px;*/
/*top: 27px;*/
/*width: 478px;*/
/*}*/

.mac-box {
    position: relative;
    width: 990px;
    margin: 100px auto 0;
}

.mac-box .item {
    height: 568px;
    width: 948px;
    background: url(http://img03.taobaocdn.com/tps/i3/T1U.tkFkFbXXckxCEg-948-568.jpg) no-repeat;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.Mac15 iframe {
    width: 1440px;
    height: 900px;
    top: -193px;
    left: -246px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.Mac13 .item {
    -webkit-transform: scale(0.89);
    -moz-transform: scale(0.89);
    transform: scale(0.89);
}

.Mac13 iframe {
    width: 1280px;
    height: 800px;
    top: -141px;
    left: -166px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

/**
.Mac27 .item{
    -webkit-transform:scale(0.89);
    -moz-transform:scale(0.89);
    transform:scale(0.89);
    background: url(http://images.apple.com/imac/performance/images/processor_hero.jpg) no-repeat;
}
**/
.Mac27 iframe {
    width: 1280px;
    height: 800px;
    top: -121px;
    left: -166px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.macNav {
    position: absolute;
    top: 0;
    right: 0;
}

.macNav .size {
    margin-right: 5px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background-color: #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.macNav .select {
    background-color: #ffa83c;
}

.pad-box {
    position: relative;
    width: 1010px;
    margin: 0 auto;
    top: -150px;
}

.Pad {
    height: 1303px;
    width: 1010px;
    z-index: 2;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    background: url(http://img02.taobaocdn.com/tps/i2/T1w10uFbBXXXbfWrZh-1010-1303.jpg) no-repeat;
}

.Pad iframe {
    width: 768px;
    height: 1000px;
    top: 147px;
    left: 124px;
}

@media (min-width:1440px) {
    .pad-box {
        top: 0;
    }

    .Pad {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

}
